spring:
  datasource:
    dynamic:
      primary: default #设置默认的数据源或者数据源组,默认值即为master
      strict: false #设置严格模式,默认false不启动. 启动后在未匹配到指定数据源时候会抛出异常,不启动则使用默认数据源.
      datasource:
        default:
          url: jdbc:mysql://127.0.0.1:3306/test_db?serverTimezone=Asia/Shanghai&autoReconnect=true&useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true
          username: root
          password: 123456
          driver-class-name: com.mysql.cj.jdbc.Driver
  elasticsearch:
    uris: http://127.0.0.1:9200
    connection-timeout: 30s
